<section>
<header >
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li class="main_ul"><a href='/about'>About</a></li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<div id="title">
	<h1>Genres</h1>
	
</div>

<div class ="list">
	<ul>
		<% @all_genres.each do |genre|%>
			<li><a class="artist" href='/genres/<%= genre.id %>'><%= genre.name %><a/></li>
		<% end %>
	</ul>

	<p><a id="new_artist" href='/record_labels/new'>Add New Genre</a></p>
</div>

<section class="scroll-top-wrapper ">
      <span class="scroll-top-inner">
        Top
      </span>
</section>

</section>