<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li>About</li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<section id="form">

<h1>Create a New Genre</h1>

<form action='/genres' method='post'>
  <input class="edit_option" type='text' placeholder='genre name' name='name'/>
  <input id+"button" type='submit' value='Create'>
</form>


</section>