<body>

<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li class="main_ul"><a href='/about'>About</a></li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<div id="edit_title">
	  <h1>Edit Genres for Artist</h1>
	  
	</div>

<section id="edit_section_genre">
	

	<h2> <%= @cur_genre.name %></h2>
	<% @cur_genre.artists.each do |artist| %>
	  <p><a href='/artists/<%= artist.id %>'><%= artist.moniker %></a></p>
	<% end %>

	<form action='/genres/<%= @cur_genre.id %>/delete' method='post'>
	  <input type='hidden' name='_method' value='delete'/>
	  <input class="button" id="genre_delete" type='Submit' value='Delete Genre'/>
	</form>
</section>

</body>