<center>
<h1> All artists </h1>
  <% @all_artists.each do |artist| %>
 <p><a href="/artists/<%= artist.id %>"><%= artist.moniker %></a></p>
  <% end %>

<p><a href='/artists/new'>Add a new artist!</a></p>
<p><a href='/record_labels'>Record labels</a></p>
</center>
