

<center>
<form action='/artists' method='post'>
  <input type='text' placeholder='new artist stage name' name='moniker'/>
  <input type='text' placeholder='birth name' name='birth_name'/>
  <input type-='text' placeholder='description' name='description'/>
  <input type='text' placeholder='age' name='age'/>
  <input type='text' placeholder='genre' name='genre'/>
  <input type='text' placeholder='record label' name='record_label'/>
  <input type='submit' value='Create!'>
</form>
</center>
