<%= render 'form' %>
<div class = "container">
  <div class = "title">
    <h1>Search Results</h1>
  </div>

  <h1>Artists</h1>
  <div class = "list">
    <ul>
      <%= render partial: 'artist_result', collection: @artists %>
    </ul>
  </div>

  <h3>Albums</h3>
  <div class = "list">
    <ul>
      <%= render partial: 'album_result', collection: @albums %>
    </ul>
  </div>

  <h3>Songs</h3>
  <div class = "list">
    <ul>
      <%= render partial: 'song_result', collection: @songs %>
    </ul>
  </div>
</div>