*= require bootstrap.min

/*
 *= require font-awesome
 */


body {
  background-color: rgb(176, 171, 171) !important;
  margin: 0;
}

.glyphicon-cd {
  font-size: .18em;
  position: absolute !important;
  margin-top: .9em;
  margin-left: -0.4em;
  color: grey;
}

.main_li a {
  color: white !important;
  font-weight: 800;
  text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 -1px black;ine: 1px 1px black;
}
.login-icon {
  margin-top: 1em;
  color: white;
  border: 2px solid white;
  border-radius: 100%;
  padding: 3px 5px 3px 5px;
  position: absolute;
  margin-left: 4.4em;
  transition-duration: .1s;
  text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 -1px black;ine: 1px 1px black;
}

.yellow {
  color: yellow;
  border-color: yellow;
}


#main_header {
  background-color: transparent;
  border: none;
}

#logo {
  height: 4em;
  position: relative;
  margin-top: -4em;
}

#main-ul {
  float: right;
  position: relative;
  right: 0;
  width: 50%;
}



.artist_top {
  background-image: url('/assets/background4.jpg');
  padding: 1em;
  margin-top: -1.5em;
 background-attachment: fixed, scroll;
 background-size: cover;
}

#artist_body {
  background-color: white;
}

#logo_body {
  background: url('/assets/main_background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 23em;
  height: 100%;
  margin-top: 9em;
}

.about {
  background: url('/assets/about-background.jpg') no-repeat center fixed;
  background-size: cover;
}

.about-title {
  font-family: ubuntu;
  font-size: 4em;
  text-align: center;
  background-color: grey;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.irad-about {
  font-family: ubuntu;
  font-size: 1em;
  color: yellow;
  float: right;
  background-color: black;
  padding: 1em;
}

.title {
  font-family: ubuntu;
  font-size: 4em;
  text-align: center;
  background-color: yellow;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(65, 60, 60);
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.title_sub_heading {
  margin-top: -4em;
  margin-bottom: 1em;
  display: block;
  font-family: ubuntu;
  font-size: 16px;
}

.edit_title {
  font-family: ubuntu;
  font-size: 2em;
  text-align: center;
  background-color: yellow;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(65, 60, 60);
  /*margin-top: 4em;*/
  margin-bottom: 1em;
}

.banner {
  background-color: black;
  background-size: cover;
}

.main_banner {
  background-size: cover;
}

#logo1 {
  font-family: ubuntu;
  color: yellow;
  font-weight: bold;
  font-size: 2em;
  margin-top: -3.8em;
  margin-left: .5em;
}

#logo2 {
  font-family: ubuntu;
  color: white;
  font-weight: bold;
  font-size: 2.4em;
  margin-top: -4.9em;
  margin-left: .7em;
}


.search {
  margin-top: 2.4em;
  width: 24em;
  background: black;
  border: none;
  font-family: ubuntu;
  height: 2em;
  color: yellow;
  outline: none;
}

.search-button {
  border: none;
  color: black;
  font-family: ubuntu;
  position: absolute;
  margin-left: -16em;
  margin-top: 5.6em;
  background: yellow;
  width: 8em;
}

.search-button:hover {
  color: yellow;
  background: rgb(65, 60, 60);
}

form {
  text-align: center;
}

#index_image {
  width: 100%;
  margin-top: 2em;
}

#about {
  margin-bottom: -10em;
  border-bottom-width: 2em;
  padding-bottom: 2em;
  margin-top: -1em;
}


#about_sent {
  color: white;
  background-color:rgba(0, 0, 0, 0.8);
  font-family:ubuntu;
  padding: 5em;
  font-size: 1.2em
}

#irad1 {
  color: yellow;
  font-family: ubuntu;
  font-weight: bold;
  margin-left: -.1em;
}

#irad2 {
  color: white;

  width: 22%;
  font-family: ubuntu;
  font-size: 10em;
  text-align: center;
  position: relative;
  margin-left: auto; 
  margin-right: auto;
}

#rad {
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: .2em;
}

#irad3 {
  margin-bottom: -10em;
  border-bottom-width: 2em;
  padding-bottom: 6em;
  transition-duration: 1s;
}

#irad3:hover {
  background-color:rgba(0, 0, 0, 0.5);
}

.navbar-default {
  border-bottom: none !important;
}


header ul li a {
  color: white !important;
  margin-right: 1.7em;
  transition: .1s ease-in-out;
  font-weight: 800;
  font-family: ubuntu;
}

header ul li a:hover {
  color: yellow !important;
}


header ul li a:visited {
  text-decoration: none;
  color: white;
}


header ul li a:hover {
  color: yellow;
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
}

.edit_section {
  margin-top: 8em;
}

#edit_section_genre {
  margin-top: 8em;
}

.add_to_artist {
  margin-left: 27em;
}

#genre_delete {
  margin-left: 35em;
}

#artist-index-title {
  background: url('/assets/background-7.jpg');
  height: 100%;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: -1.5em;
  background-attachment: fixed, scroll;
}

#genre-index-title {
  background: url('/assets/background-3.jpg');
  height: 100%;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: -1.5em;
  background-attachment: fixed, scroll;
}

#label-index-title {
  background: url('/assets/background-5.jpg');
  height: 100%;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: -1.5em;
  background-attachment: fixed, scroll;
}

.list {
  color: black;
  font-family: ubuntu;
  font-size: 1.4em;
  margin-left: 2em;
  transition: .4s ease-in-out;
  text-decoration: none;
  margin-top: 2em;
}

.artist:hover {
  color: yellow;
  text-decoration: none;
}

.artist:hover:before {
  content: "▶";
  color: yellow;
  margin-left: -1em;
  font-size: .6em;
}

.artist {
  margin-bottom: 1em;
  list-style-type: none;
  text-decoration: none;
}

.list:visited {
  text-decoration: none;
  color: black;
}

ul a {
  color: black;
}

#form {
  border-style: solid;
  border-width: 2px;

}


h2 {
  font-family: 'Lato', sans-serif;
  margin-left: 23.7em;
}

h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: -.01em;
  font-size: 1.2em;
}

#label {
  margin-left: 33em;
}

.edit_option {
  font-family: 'Lato', sans-serif;
  border-color: white;
  border-style: solid;
  font-size: .8em;
}

#search_bar {
  font-family: 'Lato', sans-serif;
  border-color: white;
  border-style: solid;
  font-size: 1.3em;
  margin-left: 25.3em;
}


.navbar-search {
  margin-top: -4em;
  padding-bottom: 1.8em;
}

.search_bar:focus {
  outline: -webkit-focus-ring-color yellow 5px;
}

.button {
  font-size: 1em;
  margin-top: .3em;
  font-family: Ubuntu;
  color: white;
  background-color: black;
  border: black;
}

.button:hover {
  color: yellow;
}

#create {
  size: 10em;
  margin-left: 2.35em;
  margin-top: 1.3em;
}

.new_artist_link {
  color: rgb(65, 60, 60);
  background-color: yellow;
  font-family: ubuntu;
  text-align: center;
  padding: .3em;
  text-decoration: none;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.new_artist_link:hover {
  background-color: rgba(0,0,0,.4);
  color: yellow;
  text-decoration: none;
}

.navigate_link{
  font-family: ubuntu;
  margin: 1em;
}

.add_new{
  margin-right: 10em;
  margin-top: -1em;
}

div p {
  text-align: center;
  margin-top: 3em;
}

#edit_artist:hover {
  background-color: rgb(65, 60, 60);
}

.bio {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  font-size: 1.3em;
  float: right;
  text-align: center;
  background: black;
  color: yellow;
  padding: 2em;
  width: 100%
}

.bio_item {
  color: yellow !important;
}

.bio_item a{
  color: yellow;
}

.bio_item a:hover {
  text-decoration: none;
  color: grey;
}

#bio_delete {
  margin-left: 37em;
}



.description {
  font-family: ubuntu;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.06);
}

em {
  color: white;
  font-family: ubuntu;
}

#artist_img {
  text-align: center;
  padding: 2em;
}

.label_artist {
  background-color: rgba(0, 5, 4, 0.2);
  font-size: 16px;
  width: 20%;
  margin-left: auto;
  margin-right: 42%;
}

.delete_entry a {
  position: relative;
  left: 17%;
  color: black;
  font-size:12px;
}

div ul li {
  list-style-type: none;
  margin-bottom: 1em;
  color: rgb(121, 116, 116);
}

#album-sec-title {
  font-family: ubuntu;
  text-align: center;
}

.album {
  display: inline-block;
  position: relative;
}

.album_image:hover {
  opacity: .4;
}

#album-title {
  text-align: center;

}

#album-title a {
  color: yellow;
  background: grey;
  padding: .4em;
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  margin-left: 1em;
}

#album-title a:hover {
  color: grey;
  background: yellow;
  padding: .4em;
  text-decoration: none;
}


#albums {
}

.edit_genre {
  margin-left: 32.7em;
  margin-top: 1em;
}

h4 {
  font-size: 3em;
  color: rgb(65, 60, 60);
  margin-left: 6.5em;
  font-family: ubuntu;
}

#album_image {
  border-style: none;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  margin-bottom: 2em;
  margin-top: -4em;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.scroll-top-inner {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline;
  font-family: Lato, sans-serif;
  font-size: 16px;
  height: auto;
  line-height: 48px;
  text-align: center;
  visibility: visible;
  width: auto;
}


.scroll-top-wrapper {
    position: fixed;
  opacity: 0;
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  text-align: center;
  z-index: 99999999;
    background-color:rgba(150, 142, 142, 0.5);
  color: white;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.scroll-top-wrapper span:hover {
  color: yellow;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

#error-explanation {
  margin: 5px;
  border: 2px solid red;
  background: white;
  width: 50%;
}

#error-explanation h4 {
  margin-left: 2em;
}

#error-explanation li {
  color: black;
}
