<section>
<header >
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li>About</li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>
<div id="title">
	<h1>Record Labels</h1>
	
</div>

<div class ="list">
	<ul>
		<% @records.each do |rec| %>

<li><a class="artist" href='/record_labels/<%=rec.id%>'> <%=rec.name %>
</a></li>

<% end %>

	</ul>

<p><a id="new_artist" href='/record_labels/new'>Add New Record Label
</a></p>
</div>


<section class="scroll-top-wrapper ">
      <span class="scroll-top-inner">
        Top
      </span>
</section>

</section>