
<center>
<form action='/record_labels' method='post'>
  <input type='text' placeholder='new record label name' name='name'/>
  <input type='text' placeholder=founding date' name='founding'/>
  <input type='submit' value='Create!'>
</form>
</center>
