
<center>

<h1>New Record Label Form</h1>

<form action='/record_labels' method='post'>
  <input type='text' placeholder='new record label name' name='name'/>
  <input type='text' placeholder=founding date' name='founding'/>
  <input type='submit' value='Create!'>
</form>
<p><a href='/record_labels'>Go back to list of record labels
</a></p>
</center>
