
<center>
<h1> Label Details </h1>
<p> <em>Name:</em>
<br> <%= @the_label.name %></p>
<p><em>Founding date:</em>
<br><%= @the_label.founding_date %></p>

<p><a href='/record_labels'> Go back to all labels</a></p>
<p><a href='/artists'>Go back to all artists</a></p>
</center>