

<body>

<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li class="main_ul"><a href='/about'>About</a></li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<div id="edit_title">
  <h1>Record Label Details</h1>
  
</div>

<div class="edit_section">
	<h3 class="add_to_artist"> <em>Name:</em> </h3>
	<p> <%= @the_label.name %></p>
	<h3 class="add_to_artist"><em>Founding date:</em></h3>
	<p><%= @the_label.founding_date %></p>

	<p><a id="new_artist" href='/record_labels/<%=@the_label.id%>/edit'>Edit</a></p>
	<form action='/record_labels/<%=@the_label.id%>/delete' method='post'>
	<input type='hidden' name='_method' value='delete'/>
	<input class="button" id="genre_delete" type='submit' value='Delete'/></form>
</div>

</body>