<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li>About</li>
		<li><a href='/artists'>Artists</a></li>
		<li>Genres</li>
		<li>Record Labels</li>
	</ul>

</header>

<section id="form">
	<form action='/artists/<%= @the_artist.id %>/albums' method='post'>
		<h3>Album Name</h3>
			<input type='text' placeholder='album title' name='title'/>
		<h3>Release Date</h3>
			<input type='text' placeholder='release date' name='release_date'/>
			<input id="create" type='submit' value='Create'>
</form>
</section>