<body id="about_bod">


<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li class="main_ul"><a href='/about'>About</a></li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<div id="about" >
	<p id="about_sent"> The Recording Arist Database... </p>
</div>

	
</body>