<form action='/sealions/<%= lion.id %>' method='post'>
  <input type='hidden' name='_method' value='put'/>
  <input type='text' name='name' value="<%= lion.name %>"/>
  <input type='text' name='body' value="<%= lion.age %>"/>
  <input type='text' name='body' value="<%= lion.quirk %>"/>

  <input type='submit' value='Update'/>
</form>