<body id="logo_body">

<header id="main_header">
	<div class="main_banner">
	</div>
	<ul >
		<li class="main_ul">About</li>
		<li class="main_ul"><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>



<div id="irad3">
	<h1 id="irad1">i</h1>
	<h1 id="irad2">RAD</h1>
</div>
	
</body>
