<form action='/sealions' method='post'>
  <input type='text' placeholder='Your Name Here' name='name'/>
  <input type='text' placeholder='Your Age Here' name='age'/>
  <input type='text' placeholder='What is your quirk?' name='quirk'/>

  <input type='submit' value='Add'/>
</form>